.container
  .page-header
    = link_to artists_path, :class => 'btn btn-default' do
      %span.glyphicon.glyphicon-list-alt
      Back
    = link_to @artist, :class => 'btn btn-primary' do
      %span.glyphicon.glyphicon-info-sign
      Show
    %h1 Editing artist

  = render 'form'
