Welcome to the team, =@artist.name
You are now in our system, and will notified when clients requests aerial artist within =@artist.location miles of =@artist.location
Here is the contact info you submitted.
Phone: =@artist.phone
Location: =@artist.location
Distance: =@artist.distance