%body
  %video{:autoplay => "", :loop => "", :muted => "", :playsinline => "", :src => "https://s3.amazonaws.com/swansisland/swans_island.mp4"}
  %header.viewport-header
    %h1
      Unlimited Skies
      %span drone
  %main