Thanks for reaching out, =@order.name
Your message has been successfully recieved, and we will have an Aeriel Artist contact you regarding scheduleding a time that works with your schedule. 

Here is a copy of your request.
Phone: =@order.phone
Location:= @order.location
Special:= @order.special

