%footer#footer
  .container
    .row
      .col-xs-6
        %h3 Unlimited Skies Drone Photography and Video
      .col-xs-6.text-right
        %small.copyright
          T, Copyright &copy; #{ Date.today.year }
